body{
    width: auto;
    height: auto;
    background: #F3F5FC;
}

#logo{
    position: relative;
    width: 32px;
    height: 48px;
    top: 40px;
    left: 40px;

}

canvas{
    position: absolute;
    width: 33.3%;
    height: 35%;
    top: 15%;
    left: 33.3%;
    background: black;
    padding: 2%;
    
}

.ocultar{
    display: none;
}

#palabra{
    position: absolute;
    width: 50%;
    height: 10%;
    text-align: center;
    top: 60%;
    left: 25%;
    padding: 2%;
    
    background: black;
}

.guiones{
    
    width: 5%;
    height: 0.5%;
    background: #0A3871;
    display: inline-block;
    margin: 2.5%;
    margin-top: 15%;
}

#botoniniciar{

    
    padding: 24px;
    

    position: absolute;
    width: 20%;
    height: auto;
    left: 40%;
    top: 40%;
    background: #0A3871;
    border-radius: 24px;
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    align-items: center;
    text-align: center;
    color: #FFFFFF;


}


footer{
    position: absolute;
    bottom: 40px;
    text-align: center;
    width: 100%;
}