body{
    width: auto;
    height: auto;
    background: #F3F5FC;
}

#logo{
    position: relative;
    width: 32px;
    height: 48px;
    top: 40px;
    left: 40px;

}

#divinput{
    position: absolute;
    top: 20%;
    left: 30%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#input{
    position: relative;
    width: 200px;
    height: 100px;
}

#divrecomendacion{
    display: flex;
    position: absolute;
    left: 30%;
    top: 50%;
}

#recomendacion{
    margin-left: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}

#divbotones{
    position: absolute;
    left: 30%;
    top: 53%;
    width: 100%;
    height: 6%;
}

#botonGuardar{
    background: #0A3871;
    border-radius: 24px;
    color: white;
    width: 25%;
    height: 100%;
    margin-right: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

#botonCancelar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    width: 25%;
    height: 100%;
    margin-left: 20px;
    color: #0A3871;
}

#divcanvas{
    display: block;
    align-items: center;
    width: 100%;
    height: 45%;
    margin-bottom: 10px;
    position: absolute;
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas{
   
    background: lightblue;
      
}

#divmensaje{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 30%;
    left: 60%;
}

#mensaje{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: green;
}

.ocultar{
    display: none;
}

#palabra{
    position: absolute;
    width: 50%;
    height: 10%;
    text-align: center;
    top: 60%;
    left: 25%;
    padding: 2%;
    
    background: black;
}

.guiones{
    
    width: 8%;
    height: 0.5%;
    background: #0A3871;
    display: inline-block;
    margin: 2.5%;
    margin-top: 15%;
}

.letrascorrectas{
    width: 8%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: white;
    position: absolute;
    top: 2%;
}

.divletrasincorrectas{
    width: 100%;
    height: 20%;
    background: #0A3871;
    display: block;
    
    bottom: 2%;
}

.divletraincorrecta{
    width: auto;
    height: 100%;
    background: white;
    display: inline-block;
    margin-right: 5px;
    
    
}

.letrasincorrectas{
    width: 8%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: auto;
    line-height: 150%;
    color: green;
    position: flex;
    
}

#botoniniciar{

    position: absolute;
    width: 20%;
    height: 10%;
    left: 40%;
    top: 40%;
    background: #0A3871;
    border-radius: 24px;
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    align-items: center;
    text-align: center;
    color: #FFFFFF;


}

#botonnuevapalabra{
    box-sizing: border-box;
    position: absolute;
    width: 15%;
    height: 7%;
    left: 42.5%;
    top: 55%;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

footer{
    position: absolute;
    bottom: 40px;
    text-align: center;
    width: 100%;
}